@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

* {
    font-family: font-family: 'Inter', sans-serif;
    font-family: 'Mulish', sans-serif;
}

/* header section */
nav {
    display: flex;
    justify-content: space-between;
    margin: 52px 127px 49px 135px;
    align-items: center;
}

.company {
    display: flex;
    gap: 16px;
}

.company-img {
    width: 48px;
    height: 56.008px;
    align-self: center;
}

.company-name {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    align-items: center;
    padding-right: 44px;
    color: #424247;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

nav li a {
    text-decoration: none;
}

.header {
    background-image: url(Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    margin: 49px auto 100px auto;
    width: 1170px;
    height: 500px;
    border-radius: 16px;
    padding-top: 106px;
    padding-bottom: 106px;
}

.header-details {
    padding-bottom: 48px;
}

.header-tittle {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    text-shadow: 1px 1px 1px black;
    margin-bottom: 24px;
    margin-left: 287px;
    margin-right: 287px;
}

.header-description {
    width: 676px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin: auto;
    text-shadow: 1px 1px 1px black;
    margin-bottom: 48px;
}

.input {
    display: inline-flex;
    align-items: center;
    gap: 24px;
    margin-right: 185px;
    margin-left: 185px;
    color: rgba(19, 19, 24, 0.50);
    margin-bottom: 106px;
}

.where {
    border-radius: 8px;
    background: #FFF;
    width: 174px;
    height: 52px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
}

.where-go {
    margin-left: 16px;
    margin-right: 86px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.select-icon {
    width: 24px;
    height: 24px;
    color: #131318B2;
}

.when {}

.button-find-now {
    align-items: center;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    display: flex;
    justify-content: center;
}

.search-icon {
    width: 24px;
    height: 24px;
    color: #FFFFFF;
}

.find-now {
    color: #FFF;
    padding: auto;
    font-size: 16px;
    font-weight: 700;
}

/* footer section */
footer {
    width: 100%;
    height: 502px;
    background: rgba(19, 19, 24, 0.05);
    align-items: center;
}

.contacts {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

.company-footer {
    display: flex;
    gap: 16px;
    align-items: center;
    padding-left: 600px;
}

.company-img-footer {
    width: 40px;
    height: 46.673px;
}

.footer-description {
    color: #5A5A5D;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 32px;
}

.copyright {
    color: #131318;
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}