@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

* {
    font-family: font-family: 'Inter', sans-serif;
    font-family: 'Mulish', sans-serif;
}

/* header section */
nav {
    display: flex;
    justify-content: space-between;
    margin: 52px 127px 49px 135px;
    align-items: center;
}

.company {
    display: flex;
    gap: 16px;
}

.company-img {
    width: 48px;
    height: 56.008px;
    align-self: center;
}

.company-name {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    align-items: center;
    padding-right: 44px;
    color: #424247;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

nav li a {
    text-decoration: none;
}

.header {
    background-image: url(Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    margin: 49px auto 100px auto;
    width: 1170px;
    height: 500px;
    margin-bottom: 24px;
    border-radius: 16px;
    padding-top: 106px;
    padding-bottom: 106px;
}

.header-details {
    padding-bottom: 48px;
}

.header-tittle {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    text-shadow: 1px 1px 1px black;
    margin-bottom: 24px;
    margin-left: 287px;
    margin-right: 287px;
}

.header-description {
    width: 676px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin: auto;
    text-shadow: 1px 1px 1px black;
    margin-bottom: 48px;
}

.input {
    display: inline-flex;
    align-items: center;
    gap: 24px;
    margin-right: 185px;
    margin-left: 185px;
    color: rgba(19, 19, 24, 0.50);
    margin-bottom: 106px;
}

.where {
    border-radius: 8px;
    background: #FFF;
    width: 174px;
    height: 52px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
}

.where-go {
    margin-left: 16px;
    margin-right: 86px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.select-icon {
    width: 24px;
    height: 24px;
    color: #131318B2;
}

.when {
    color: rgba(19, 19, 24, 0.50);
    display: flex;
    align-items: center;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    justify-content: space-around;
}

.select {
    color: rgba(19, 19, 24, 0.50);
    display: flex;
    align-items: center;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    justify-content: space-around;
}

.button-find-now {
    align-items: center;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    display: flex;
    justify-content: center;
}

.search-icon {
    width: 24px;
    height: 24px;
    color: #FFFFFF;
}

.find-now {
    color: #FFF;
    padding: auto;
    font-size: 16px;
    font-weight: 700;
}

main {
    min-height: calc(100vh);
}

/* popular tour section */
.popular-tour {
    margin-left: 135px;
    margin-right: 135px;
    display: flex;
    gap: 53px;
    margin-bottom: 100px;

}

.popular-tour-tittle {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.popular-tour-description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.read-more {
    align-items: center;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}

/* destination section */
.destination {
    text-align: center;
    margin-bottom: 48px;
}

.destination-tittle {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.destination-description {
    margin-left: auto;
    margin-right: auto;
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

/* tour-img */
.tour-img {
    margin: 0px 135px 100px 135px;
}

.img1 {
    margin-right: 24px;
    margin-bottom: 24px;
    width: 573px;
    height: 300px;
}

.img2 {
    margin-bottom: 24px;
    width: 573px;
    height: 300px;
}

.img3 {
    margin-right: 24px;
    margin-bottom: 24px;
}

.img4 {
    margin-bottom: 24px;
}

.img5 {
    margin-left: 24px;
    margin-bottom: 24px;
}

.img6 {
    margin-right: 24px;
}

.img7 {
    width: 673px;
    height: 300px;
}

/* why-us section */
.why-us {
    text-align: center;
    margin-bottom: 48px;
}

.why-us-tittle {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.why-us-description {
    margin-left: auto;
    margin-right: auto;
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

/* all-service section */
.all-service {
    margin-bottom: 100px;
    margin-left: 135px;
    margin-right: 135px;
}

.service-upper {
    display: flex;
    gap: 24px;
}

.hotel {
    width: 573px;
    height: 284px;
    padding-left: 32px;
    padding-right: auto;
    padding-bottom: 32px;
    padding-top: 32px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.hotel-img {
    width: 64px;
    height: 64px;
}

.hotel-tittle {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.hotel-drescription {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 486px;
}


.service {
    width: 573px;
    height: 284px;
    padding-left: 32px;
    padding-right: auto;
    padding-bottom: 32px;
    padding-top: 32px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.service-img {
    width: 64px;
    height: 64px;
}

.service-tittle {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.service-drescription {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 486px;
}

.price {
    width: 573px;
    height: 284px;
    padding-left: 32px;
    padding-right: auto;
    padding-bottom: 32px;
    padding-top: 32px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin-top: 24px;
    margin-left: 298px;
    margin-right: 298px;
}

.price-img {
    width: 64px;
    height: 64px;
}

.price-tittle {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.price-drescription {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 486px;
}

/* Deals & Discounts section */
.discounts {
    margin-bottom: 48px;
}

.deals-discounts {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.deals-discounts-description {
    color: rgba(19, 19, 24, 0.70);
    width: 643px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-left: auto;
    margin-right: auto; 
}

/* footer section */
footer {
    width: 100%;
    height: 502px;
    background: rgba(19, 19, 24, 0.05);
    bottom: 0;
}

.contacts {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

.company-footer {
    display: flex;
    gap: 16px;
    align-items: center;
    padding-left: 600px;
}

.company-img-footer {
    width: 40px;
    height: 46.673px;
}

.footer-description {
    color: #5A5A5D;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 32px;
}

.copyright {
    color: #131318;
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

/* responsive media */
@media screen and (max-width: 576px) {

    main {
        min-height: calc(100vh);
    }

    .nav,
    .header,
    main {
        width: 335px;
    }

    nav {
        margin-left: 20px;
        margin-right: 20px;
        flex-direction: row;
        font-width: 120px;
        margin-top: 18px;
    }

    nav li {
        display: none;
    }

    .company {}

    .company-name {
        font-size: 21.543px;
        font-weight: 800;
    }

    .company-img {
        width: 28.724px;
        height: 33.516px;
    }

    .header {
        background-image: 100%;
        height: 483px;
        padding-top: 32px;
        padding-bottom: 32px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 17.8px;
        align-items: center;
    }

    .header-details {
        padding-bottom: 32px;
    }

    .header-tittle {
        font-size: 22px;
        font-weight: 800;
        margin-bottom: 7px;
        margin-left: 64px;
        margin-right: 64px;
    }

    .header-description {
        width: 304px;
        color: #FFF;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        margin-left: 15px;
        margin-right: 16px;
        margin-bottom: 32px;
    }

    .input {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        gap: 16px;
        margin-right: 40px;
        margin-left: 40px;
        color: rgba(19, 19, 24, 0.50);
        margin-bottom: 48px;
    }

    .where,
    .when,
    .select,
    .button-find-now {
        width: 255px;
    }

    .popular-tour {
        margin-left: 20px;
        margin-right: 20px;
        display: grid;
        gap: 24px;
        margin-bottom: 24px;
    }

    .popular-tour-tittle {
        font-size: 20px;
    }

    .popular-tour-description {
        font-size: 14px;
        line-height: 24px;
        width: 335px;
    }

    .mount-img {
        width: 335px;
        height: 342px;
    }

    .destination {
        text-align: center;
        margin-bottom: 16px;
    }

    ..destination-tittle {
        font-size: 20px;
        margin-bottom: 16px;
    }

    .destination-description {
        margin-left: auto;
        margin-right: auto;
        width: 309px;
        font-size: 14px;
        line-height: 24px;
    }

    .tour-img {
        display: grid;
        margin: 0px 20px 24px 20px;
        width: 335px;
        height: 176px;
    }

    .img1,
    .img2,
    .img3,
    .img4,
    .img5,
    .img6,
    .img7 {
        width: 335px;
        height: 176px;
    }

    .img5 {
        margin-left: 0px;
    }

    .img6 {
        margin-bottom: 16px;
    }

    .why-us {
        text-align: center;
        margin-bottom: 16px;
    }

    .why-us-tittle {
        font-size: 20px;
        margin-bottom: 16px;
    }

    .why-us-description {
        margin-left: auto;
        margin-right: auto;
        width: 309px;
        font-size: 14px;
        line-height: 24px;
    }

    .all-service {
        margin-bottom: 24px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .service-upper {
        display: grid;
        gap: 16px;
    }

    .hotel {
        width: 335px;
        height: 289px;
    }

    .hotel-img {
        width: 47px;
        height: 48px;
    }

    .hotel-tittle {
        font-size: 20px;
    }

    .hotel-drescription {
        font-size: 14px;
        line-height: 24px;
        width: 271px;
    }

    .service {
        width: 335px;
        height: 289px;
    }

    .service-img {
        width: 47px;
        height: 48px;
    }

    .service-tittle {
        font-size: 20px;
    }

    .service-drescription {
        font-size: 14px;
        line-height: 24px;
        width: 271px;
    }

    .price {
        width: 335px;
        height: 289px;
        margin-top: 16px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .price-img {
        width: 47px;
        height: 48px;
    }

    .price-tittle {
        font-size: 20px;
    }

    .price-drescription {
        font-size: 14px;
        line-height: 24px;
        width: 271px;
    }

    .discounts {
        margin-bottom: 16px;
    }

    .deals-discounts {
        font-size: 20px;
        margin-bottom: 16px;
    }

    .deals-discounts-description {
        width: 309px;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }
    

    footer {
        height: 309px;
        margin: 0px;
    }

    .contacts {
        padding-top: 24px;
        padding-bottom: 48px;
    }

    .company-footer {
        display: flex;
        gap: 9.95px;
        align-items: center;
        padding-left: 106px;
    }

    .company-img-footer {
        width: 28.724px;
        height: 33.516px;
    }

    .footer-description {
        font-size: 14px;
        margin-bottom: 24px;
        width: 287px;
        margin-left: auto;
        margin-right: auto;
    }

    .copyright {
        font-size: 14px;
    }
    
}